h1{
  color:teal;
  text-align: center;
 
}
.row{
  width: auto;
}
.col{
  width: 1000px;
  height: 270px;
  background-color: rgb(207, 192, 207);
  text-align: center;
  font-size: 35px;
}
.mydiv{
  font-style: italic;
  font-size: 30px;
  color:rgb(65, 65, 65)
}
.myli{
  
  font-size: 25px;
}
.footer{
  color: darkcyan;
  background-color: rgb(92, 77, 92);
  width: 100%;
  height: 200px;
  font-size: 70px;
  text-align: center;
}

.footerdiv{
  color: rgb(128, 125, 125);
  text-align: right;
  font-size: 20px;
}
.number{
  font-size: 2%;
}